<!doctype html>
<html ng-app="ShoppingListCheckOff" lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
  <body >
    <div class="container">
    <h1>Shopping List Check Off</h1>

    <div class="row" >

      <!-- To Buy List -->
        <div class="col-md-6" ng-controller='ToBuyController as tobuyController' >
         <h2>To Buy: </h2>
         <ul>
           <li ng-repeat="item1 in tobuyController.toBuyItems">
             Buy {{item1.itemQty}} {{item1.itemName}} <button class="btn btn-default" ng-click="tobuyController.YesMove($index, item1.itemName, item1.itemQty );">
               <span class="glyphicon glyphicon-ok"></span> Bought</button>
           </li>

         </ul>
         <div class="emptyMessage" ng-if="tobuyController.buyMessage">
           {{tobuyController.buyMessage}}
         </div>
        </div>
       <div class="col-md-6" ng-controller='BoughtController as boughtController'>
        <h2>Already Bought:</h2>
        <ul>
          <li ng-repeat="item1 in boughtController.boughtItems">
            Bought {{item1.itemQty}} {{item1.itemName}}
          </li>
        </ul>
        <div class="emptyMessage" ng-if="boughtController.boughtMessage.message">
          {{boughtController.boughtMessage.message}}
        </div>
       </div>
    </div>



  </div></body>
</html>
