<div class="container">
  <h2 class="text-center">User Information</h2>
  <h3 class="text-center" ng-if="!myInformationCtrl.userInfo">Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></h3>

  <div ng-if="myInformationCtrl.userInfo">
<table id="UserInformation">
  <tr>
    <th>First Name:</th>
    <td>{{myInformationCtrl.userInfo.firstname}}</td>
  </tr>
  <tr>
    <th>Last Name:</th>
    <td>{{myInformationCtrl.userInfo.lastname}}</td>
  </tr>
  <tr>
    <th>Email:</th>
    <td>{{myInformationCtrl.userInfo.email}}</td>
  </tr>
  <tr ng-if="myInformationCtrl.userInfo.phone">
    <th>Phone:</th>
    <td>{{myInformationCtrl.userInfo.phone}}</td>
  </tr>
</table>

  <hr ng-if="myInformationCtrl.userInfo.food">
    <div class="favourite" ng-if="myInformationCtrl.userInfo.food">
      <h3>Favorite food</h3>
          <div class="menu-item-tile">
              <div class="row">
                <div class="col-sm-5">
                  <div class="menu-item-photo">
                    <div>{{myInformationCtrl.userInfo.food.short_name}}</div>
                    <img class="img-responsive" width="250" height="150" ng-src="{{myInformationCtrl.imageUrl}}" alt="{{myInformationCtrl.userInfo.food.name}}">
                  </div>
                  <div class="menu-item-price">{{myInformationCtrl.userInfo.food.price_small | currency}}<span> {{myInformationCtrl.userInfo.food.small_portion_name}}</span> {{myInformationCtrl.userInfo.food.price_large | currency}} <span>{{myInformationCtrl.userInfo.food.large_portion_name}}</span></div>
                </div>
                <div class="menu-item-description col-sm-7">
                  <h3 class="menu-item-title">{{myInformationCtrl.userInfo.food.name}}</h3>
                  <p class="menu-item-details">{{myInformationCtrl.userInfo.food.description}}</p>
                </div>
              </div>
            </div>
          </div>

    <hr ng-if="myInformationCtrl.userInfo.food">

    <div id="delete-user-button" class="text-center">
      <button class="btn btn-primary" ng-click="myInformationCtrl.deleteUser()">Delete User</button>
    </div>
  </div>
